@import '@/styles/__settings';

.titleContainer {
  display: flex;
  height: $blockHeight;
  @include center();
  color: $primary;
  text-align: center;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
