@import '@/styles/__settings';

.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: $blockGap;
  background-color: $lightShade;

  .blockTitle {
    color: $darkShade;
  }

  @include desktop() {
    grid-template-columns: repeat(2, 1fr);
  }

  .exteriors {
    background-image: url('../../../../public/exteriors.jpg');
  }

  .roofing {
    background-image: url('../../../../public/roofing.png');
  }

  .siding {
    background-image: url('../../../../public/siding.jpg');
  }

  .gutters {
    background-image: url('../../../../public/gutters.jpg');
  }
}
