@import '@/styles/__settings';

.button {
  background-color: $primary;
  border: none;
  padding: 1rem 2rem;
  border-radius: toRem(28);
  color: $whiteText;
  font-size: toRem(16);
  font-weight: 100;
  cursor: pointer;

  &:hover {
    background-color: $primary-light;
  }
}
