@import '@/styles/__settings';

.sidebarNav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  .icon {
    color: $darkShade;
  }

  .title {
    color: $darkShade;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
