@import '@/styles/__settings';

.testimonialCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  background-color: $darkAccent;
  @include center();
  padding: 1rem;

  .blockquotes {
    max-width: toRem(600);
    margin: toRem(10) toRem(31);
    padding: toRem(25);
    color: $darkShade;

    &::before {
      content: '\201C';
      font-size: toRem(100);
      color: $darkShade;
      display: block;
      margin-bottom: toRem(-50);
      margin-top: toRem(-20);
    }

    .text {
      font-size: 1.15rem;
      line-height: 1.5rem;
    }
  }

  .credit {
    font-weight: 500;
    margin-left: 50%;
    color: $darkShade;

    &::before {
      content: '\2014\0020';
    }
  }
}
