@import '@/styles/__settings';

.testimonials {
  display: flex;
  flex-direction: column;
  gap: $blockGap;
  background-color: $darkShade;
  padding-bottom: $blockHeight;

  .avatar1 {
    background-image: url('../../../../public/redHeadAvatar.jpg');
  }

  .avatar2 {
    background-image: url('../../../../public/brunetteAvatar.jpg');
  }

  .avatar3 {
    background-image: url('../../../../public/noseRingAvatar.jpg');
  }
}
