$primary: #0c6f8f;
$primary-light: #3aa5bb;
$primary-dark: #08567a;

$lightShade: #f6eff3;
$lightAccent: #68b4c1;
$darkAccent: #69808f;
$darkShade: #322c3c;

$success: #24992e;
$info: #0078db;
$warning: #934c08;
$error: #dd303c;

$text: $darkShade;
$whiteText: $lightShade;
